.display-5{

    font-size: 170%;
}

.display-3{

    font-size: 240%;
}
.myCard {
    border-radius: 12px;
    box-shadow:0px 0px 6px 1.5px rgba(135, 206, 250, 0.637);
}

.card-header{
    border-radius:12px !important;
}